/**
 * PandaCSS CSS layers
 * View the full documentation at https://panda-css.com/docs/concepts/cascade-layers#layer-css
 */
@layer reset, base, tokens, recipes, utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html {
  --fg-color-1: 218, 218, 218;
  --bg-color-1: 37, 37, 37;
  --bg-color-2: 0, 3, 50;
  font-family: "noto sans mono", monospace;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: inherit;
  background: rgba(var(--bg-color-1), 1);
  color: rgba(var(--fg-color-1), 1);
}

a {
  color: inherit !important;
  font-weight: 700;
  line-height: 1rem;
  text-decoration: none;
  background: linear-gradient(
      to right,
      rgba(var(--fg-color-1), 0.3),
      rgba(var(--fg-color-1), 0.3)
    ),
    linear-gradient(
      to right,
      rgba(var(--fg-color-1), 1),
      rgba(var(--fg-color-1), 1)
    );
  background-size:
    100% 0.1rem,
    0 0.1rem;
  background-position:
    100% 100%,
    0 100%;
  background-repeat: no-repeat;
  transition: background-size 300ms;
}

a:hover,
a:focus {
  background-size:
    0 0.1rem,
    100% 0.1rem;
}
ul {
  list-style-type: none;
}
li {
  line-height: 1.75rem;
  border-bottom: 1px solid rgba(218, 218, 218, 0.3);
  padding-bottom: 8px;
  margin-bottom: 8px;
}
h1 {
  padding-inline: 32px;
  height: 327px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: left top;
}
article {
  flex: 4;
}
header {
  height: 260px;
}
h1 {
  font-size: min(10vh, 13vw);
  margin: 0;
}
.resume-content section {
  padding: 32px;
}
li span {
  padding-inline: 4px;
  border-right: 1px solid rgb(var(--fg-color-1));
  margin: 1px;
}
li span:last-of-type {
  border-right: 0;
}
.samples img {
  width: 360px;
  height: 252px;
}
.list-title {
  margin-left: 40px;
}
